# Build outputs
**/bin/
**/obj/

# Visual Studio metadata
**/.vs/

# User-specific settings
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de índice de VS
**/FileContentIndex/

# Claude Code
**/.claude/
